@import url(reset.css);
@font-face {
    font-family: aller;
    src: url(../fonts/Allerta-Regular.ttf);
}
@font-face {
    font-family: open;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 30px;

}
.block1{
    font-family: aller;
    font-size: 64.08px;
    word-spacing: 10;
    text-align: center;
    color: #149df4;
}
.block2{
    font-size: 16px;
}
.n{
    display: inline-block;
    padding-left: 12px;
    padding-right: 54px;
    font-family:open;

}
.mail{
    padding-right: 12px;
}
.mail2{
    padding-right: 62px;
    font-family: open;
}
.icon1,
.icon3{
    background-color: #149df4;
    border-radius: 50%;
    padding: 10px;
     margin-top: 25px; 
}
.icon2{
    background-color: #f1135c;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 0 20px;
    margin-top: 25px;
}
.chiziq{
    max-width: 1140px;
    height: 1px;
    background-color: #e2e2e2;
    margin: 0 auto;
    /* margin-bottom: 32px; */
}
.container2{
    max-width: 1140px;
    padding-left: 20px;
}
li a{
    font-size: 14px;
    color: #7a7a7a;
}
li{
    display: inline-block;
}
li a:hover{
    color:#149df4 ;
}
.wrapper{
    width: 100%;
    height: 188px;
    background: url(../img/adult-assortment-background-1496183.png) 50%/cover no-repeat;
    opacity: 100%;
    
}
.container3{
    height: 188px;
    background-color:#2a99e0;
    opacity: 86%;
    color: #fff;
    margin: 0 auto;
}
h2{
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
    margin-bottom: 22px;
}
.span3{
    display: block;
    color: #fff;
    font-size: 24px;
}
.block{
    max-width: 1140px;
    margin: 0 auto;
}
.container4{
    padding-top: 120px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.span4{
    color: #149df4;
    font-weight: normal;
    display: block;
}

.p1{
    width: 235px;
    font-size: 20px;
}
.block4{
    max-width: 504px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 50px;
}
.p2{
    font-size: 20px;
    width: 184px;
    font-size: 20px;
}
.p3{
    width: 196px;
    font-size: 20px;
}
.p4{
    font-size: 20px;
}
.block5{
    max-width: 550px;
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 20px;   
}
.ims{
    border: 2px solid #eaeaea;
    padding: 20px 29px;
    border-radius: 25px;
    width: 200px;

}
.tel{
    border: 2px solid #eaeaea;
    padding: 20px 29px;
    border-radius: 25px;
    width: 200px;
}
.elec{
    border: 2px solid #eaeaea;
    border-radius: 25px;
    padding: 20px 29px;
    width: 480px;

}
    
.koment{
    height: 170px;
    border: 2px solid #eaeaea;
    padding: 20px 29px;
    border-radius: 25px;
    width: 480px;

}
input:focus{
    border: 2px solid #eaeaea;
    border-radius: 25px;   
}
form .block5 div{
    display: inline-block;
}